{% extends 'base.html' %}
{% block content %}

{% load staticfiles %}

<div class="row">
  <div class="col-xs-6 col-md-3">
    {% if profile_user.profile.profile_photo %}
    <img src="{{profile_user.profile.profile_photo.url}}" width="200" alt="프로필 사진"> <br>
    {% else %}
    <img src="{% static 'accounts/img/수민사진.jpg' %}" width="200" alt="기본 프로필 사진"><br>
    {% endif %}
  </div>
  <div class="col-xs-6 col-md-3">
    {% if profile_user.profile.nickname %}
    <h2>{{profile_user.profile.nickname}}</h2>
    {% endif %}
    {% if user == profile_user %} <!--로그인한 사용자와 프로필 소유자가 일치할 때만 프로필 편집 가능-->
    <a href="">
      <button type="button" class="btn btn-default">프로필 편집</button>
    </a>
    {% endif %}
    <h3>username: {{profile_user.username}} <br>
      {% if profile_user.first_name is not None %}
      name: {{profile_user.first_name}} {{profile_user.last_name}} <br>
      {% endif %}
    </h3>
  </div>
</div>


{% endblock %}