{% extends 'base.html' %}

{% block css %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% endblock %}

{% block content %}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
<h1>프로필 수정 </h1>

{% if error_msg %}
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Error</strong> {{error_msg}}
</div>
{% endif %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ profile_form.media }}
    {% bootstrap_form profile_form %}
    <input type="submit" value="Update">
</form>

<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>


{% endblock %}