{% load socialaccount %}

{% load static %}

{% static 'accounts/img/naver.png' as naver_button %}
{% static 'accounts/img/kakao.png' as kakao_button %}
{% static 'accounts/img/facebook.png' as facebook_button %}

{% block css %}
<style>
  img:hover {
    filter: brightness(0.8);
  }
</style>
{% endblock%}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li>
  <a title="{{brand.name}}" 
     class="socialaccount_provider {{provider.id}} {{brand.id}}" 
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     >{{brand.name}}</a>
</li>
{% endfor %}
{% endif %}
<li class="my-3" style="list-style: none;">
  <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" 
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
    {% if provider.name == 'Naver' %}
    <img src="{{ naver_button }}" height="60" alt="네이버 로그인">
    {% elif provider.name == 'Kakao' %}
    <img src="{{ kakao_button }}" height="60" alt="카카오 로그인">
    {% elif provider.name == 'Facebook' %}
    <img src="{{ facebook_button }}" height="60" alt="페이스북 로그인">
    {% endif %}</a>
</li>
{% endfor %}