{% extends 'base.html' %}



{% block content %}

{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{{ form.media }}            {# Adds date-picker required JS and CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}

<form action="." method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  {{form.media}}
  {{form.as_p}}
  <input type="submit" value="작성 완료">
</form>

<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>


{% endblock %}