{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}
{% load humanize %}

{% block css %}
<link rel="stylesheet" href="{% static 'articles/css/detail.css' %}">
{% endblock%}

{% block head %}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script>
  IMP.init('imp08560607')
  // document.cookie = "safeCookie1=foo; SameSite=Lax";
  // document.cookie = "safeCookie2=foo";
  document.cookie = "crossCookie=bar; SameSite=None; Secure";
</script>
{% endblock %}


{% block content %}
{% if messages %}
  {% for message in messages %}
  <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %} alert-info {% endif %}" role="alert">
    {{ message }}
  </div>
  {% endfor %}
{% endif %}
<div class="row">
  <div class="col-12 col-md-9">
    <div class="row">
      <div class="col-12 d-flex flex-column align-items-center">
        <img class="article-image" src="{{ article.image.url }}" alt="활동 이미지">
        <h5 class="my-3 font-weight-bold">{{ article.category }}</h5>
        <h3 class="mb-3 extrabold">{{ article.title }}</h3>
      </div>
    </div>
    <hr class="ml-0">
    <div class="row">
      <div class="col-2 extrabold">
        <p>상세정보</p>
      </div>
      <div class="col-10 content">
        <p>날짜: {{ article.event_date }}</p>
        <p>장소: 위치위치</p>
        <p>참여인원: 남/여 각 {{ article.participations }}명</p>
      </div>
    </div>
    <hr class="ml-0">
    <div class="row">
      <div class="col-12 extrabold">
        <p>호스트 소개</p>
      </div>
      <div class="col-2 d-flex flex-column align-items-center">
        <div class="host-photo rounded-circle" style="background-image: url({{ article.author.profile.profile_photo.url }});"></div>
        <p class="content">{{ article.author }}</p>
      </div>
      <div class="col-10 content">
        <p>{{ article.author.profile.host_introduce }}</p>
      </div>
      <div class="col-12 extrabold content">
        <p>경력사항</p>
      </div>
      <div class="col-12 content">
        <p>{{ article.author.profile.host_career|linebreaksbr }}</p>
      </div>
    </div>
    <hr class="ml-0">
    <div class="row">
      <div class="col-12 extrabold">
        <p>Hobby 소개</p>
      </div>
      <div class="col-12 content">
        <p>{{ article.content }}</p>
      </div>
      <div class="col-12 extrabold subtitle">
        <p>대상</p>
      </div>
      <div class="col-12 content">
        <p>{{ article.to_who|linebreaksbr }}</p>
      </div>
      <div class="col-12 extrabold subtitle">
        <p>상세 일정</p>
      </div>
      <div class="col-12 content">
        <p>{{ article.detail_plan|linebreaksbr }}</p>
      </div>
    </div>
    <hr class="ml-0">
    <div class="row">
      <div class="col-12 extrabold">
        <p>리뷰({{ article.comments.count }}개)</p>
        <p>{% if comments_rank_avg %}{{ comments_rank_avg }}점{% endif %}</p>
      </div>
      {% for comment in article.comments.all %}
      <div class="col-2 d-flex flex-column align-items-center">
        <div class="profile-photo rounded-circle" style="background-image: url({% if comment.author.profile.profile_photo %}{{ comment.author.profile.profile_photo.url }}{% else %}{% static 'accounts/img/anonymoususer.png' %}{% endif %});"></div>
        <p class="content">{{ comment.author }}</p>
      </div>
      <div class="col-10 content">
        <p>{{ comment.content }}</p>
      </div>
      {% empty %}
      <div class="col-12 content">
        <p>댓글이 없습니다.</p>
      </div>
      {% endfor %}
      {% if request.user in article.man_participations.all or request.user in article.woman_participations.all %}
      <div class="col-12 content">
        <form action="{% url 'articles:comment_upload' article.pk %}" method="POST">
          {% csrf_token %}
          {% bootstrap_form comment_form %}
          <button class="join-button">댓글 작성</button>
        </form>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="d-none d-md-block col-md-3 article-sidebar">
    <p class="sidebar-title">참가비</p>
    <p class="extrabold sidebar-content">{{ article.price|intcomma }}원</p>
    <br>
    <p class="sidebar-title">모임 날짜</p>
    <p class="extrabold sidebar-content">{{ article.event_date|date:"n월 d일" }}</p>
    <br>
    <p class="sidebar-title">현재 참여인원</p>
    <p><span class="extrabold sidebar-content man-color">남 {{ article.man_participations_count }}</span> <span class="sidebar-title">/{{ article.participations }}</span></p>
    <p><span class="extrabold sidebar-content woman-color">여 {{ article.woman_participations_count }}</span> <span class="sidebar-title">/{{ article.participations }}</span></p>
    <br>
    <form action="{% if not request.user.profile %}{% url 'profile_update' %}{% elif request.user.profile.gender == '남' %}{% url 'articles:man_participation' article.pk %}{% else %}{% url 'articles:woman_participation' article.pk %}{% endif %}" method="POST"><form action="{% if request.user.profile.gender == '남' %}{% url 'articles:man_participation' article.pk %}{% else %}{% url 'articles:woman_participation' article.pk %}{% endif %}" method="POST">
      {% csrf_token %}
    </form>
    <button class="join-button">참가하기</button>
    
  </div>
</div>


<script>


  const joinButton = document.querySelector('.join-button')
  joinButton.addEventListener('click', (event) =>{
    IMP.request_pay({
        pg : 'kakaopay',
        merchant_uid : 'merchant_' + new Date().getTime(),
        name : '주문명:결제테스트',
        amount : 1000,
    }, function(rsp) {
        if ( rsp.success ) {
            let msg = '결제가 완료되었습니다.';
            msg += '고유ID : ' + rsp.imp_uid;
            msg += '상점 거래ID : ' + rsp.merchant_uid;
            // msg += '결제 금액 : ' + rsp.paid_amount;
            msg += '카드 승인번호 : ' + rsp.apply_num;
        } else {
            let msg = '결제에 실패하였습니다.';
            msg += '에러내용 : ' + rsp.error_msg;
        }

        alert(msg);
    });
  })
</script>
{% endblock %}